<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <title>
        Чат
    </title>
</head> 
<body>
{% include 'sidebar.html' %}  
<div class="chat-container">
    <div class="chat-header">
        67 chat
    </div>
    <div class="messages" id="messages"></div>
    <form class="chat-form" id="chat-form">
        <input type="text" id="message-input" placeholder="Введите текст" autocomplete="off" required>
        <button type="submit">
            отправить сообщение 
        </button>
    </form>
</div>
<script>
    const socket=io()
    const form=document.getElementById("chat-form")
    const input=document.getElementById("message-input")
    const messages=document.getElementById("messages")

    form.addEventListener("submit", function(e){
        e.preventDefault()
        const message=input.value
        socket.send(message)
        input.value=""
    })
    
    socket.on("message",function(msg){
        const div=document.createElement("div")
        div.classList.add("message")
        div.innerText=msg
        messages.appendChild(div)
        messages.scrollTop=messages.scrollHeight
    })
</script>
</body>
</html>