<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>
        📖Уроки
    </title>
</head
<body>
<div class="sidebar-trigger"></div>
<div class="sidebar">

<h2 class="logo">University</h2>

<!-- <a href="/stats">📊 Статистика</a> -->
<a href="/">🏠 Главная</a>
<!-- <a href="/students">🎓 Students</a> -->
<a href="/teachers">🧑‍🏫 Учителя</a>
<a href="/admin_page">👩‍💻Админ панель</a>
<a href="/courses">📖Уроки</a>
</div>

<h1>
    Courses
</h1>
<ul>
    {% for course in courses %}
    <li>
        {{course.title}}
        - Teacher: {{course.teacher.name if course.teacher else "not set"}}
    </li>
    {% endfor %}
</ul>
</body>
</html>