<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <title>
        🏠 Главная
    </title>
</head>
<body>

    

{% include 'sidebar.html' %}

<div class="main-container">

{% if current_user.is_authenticated %}
<span>
    welcome {{current_user.username}}
</span>  
<a class="btn" href="/logout">logout</a>
{% else %}
<a class="btn" href="/login">login</a>
<a class="btn" href="/register">register</a>
{% endif %}

<div class="chat-container">
    <div class="chat-header">
        67 chat
    </div>
    <div class="messages" id="messages"></div>
    <form class="chat-form" id="chat-form">
        <input type="text" id="message-input" placeholder="Введите текст" autocomplete="off" required>
        <button type="submit">
            отправить сообщение 
        </button>
    </form>
</div>
<script>
    const socket=io()
    const form=document.getElementById("chat-form")
    const input=document.getElementById("message-input")
    const messages=document.getElementById("messages")

    form.addEventListener("submit", function(e){
        e.preventDefault()
        const message=input.value
        socket.send(message)
        input.value=""
    })
    
    socket.on("message",function(msg){
        const div=document.createElement("div")
        div.classList.add("message")
        div.innerText=msg
        messages.appendChild(div)
        messages.scrollTop=messages.scrollHeight
    })
</script>



{% if current_user.role == "student" %}
<h1>Hello student 👨‍🎓</h1>
{% else %}
<h1>Hello user 👋</h1>
{% endif %}
<div class="slider">
    <img id="sliderImage" src="{{ url_for('static', filename='images/nomer1.png') }}"/>
</div>
<button onclick="nextPhoto()">
    <
</button>

<button onclick="prevPhoto()">
    >
</button>

<script>
    const images=["{{ url_for('static', filename='images/nomer1.png') }}","{{ url_for('static', filename='images/nomer2.png') }}","{{ url_for('static', filename='images/nomer3.jpg') }}"]
    let index=0;

    function showImage(){
        document.getElementById("sliderImage").src=images[index]
    }
    function nextPhoto(){
        index=(index+1)%images.length;
        showImage();
    }
    function prevPhoto() {
        index = (index - 1 + images.length) % images.length;
        showImage();
    }


</script>



<div class="card">

<h2>Students</h2>

<ul class="students">
{% for student in students %}
<li class="student">

{{student.name}} {{student.surname}}

<ul>
{% for course in student.courses %}
<li>{{course.title}}</li>
{% endfor %}
</ul>

</li>
{% endfor %}
</ul>

</div>

</div>
</body>
</html>