<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>
        🧑‍🏫 Учителя
    </title>
</head>
<body>
{% include 'sidebar.html' %}            
<h1>
    Teachers
</h1>
<ul>
    {% for teacher in teachers %}
        <li>
            {{teacher.name}} {{teacher.surname}}
            <ul>
                {% for course in teacher.courses %}
                <li>
                    {{course.title}}
                </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
<ul>  
</ul>
</body>
</html>